<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS - Flexbox</title>
    <link rel="stylesheet" href="../assets/css/practise-flexbox.css">
</head>
<header>
    <div class="container">
        <nav>
            <a href="https://www.google.fr/" target="_blank">Accueil</a>
            <a href="https://www.youtube.com/" target="_blank">nos produits</a>
            <a href="https://www.wikipedia.org/" target="_blank">soldes</a>
            <a href="https://www.facebook.com/?locale=fr_FR" target="_blank">contact</a>
            <a href="https://www.microsoft.com/fr-fr" target="_blank">information</a>
        </nav>
    </div>
</header>

<main>

</main>

<footer>

</footer>

</html>