<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dom</title>
    <script src="../assets/js/14-dom.js" defer></script>
    <link rel="stylesheet" href="../assets/css/dom.css">
  </head>
  <body>
    <h1 id="mainTitle">La manipulation du dom en Javascript</h1>
    <h2 id="secondTitle">Quelques propriétés CSS</h2>
    <h3>Pas facile le Javascript</h3>
    <div class="paragraphe">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga placeat veritatis praesentium recusandae fugiat <br>
            provident reprehenderit nemo blanditiis sunt est libero tempore repellat sapiente porro, incidunt ratione labore natus?
        </p>
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga placeat veritatis praesentium recusandae fugiat <br>
            provident reprehenderit nemo blanditiis sunt est libero tempore repellat sapiente porro, incidunt ratione labore natus?
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga placeat veritatis praesentium recusandae fugiat <br>
            provident reprehenderit nemo blanditiis sunt est libero tempore repellat sapiente porro, incidunt ratione labore natus?
        </p>
    </div>
  </body>
</html>
