<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dom</title>
    <script src="../assets/js/14-dom.js" defer></script>
  </head>
  <body>
    <h1 id="main-title">La manipulation du dom en Javascript</h1>
    <h2 class="title">Quelques propriétés CSS</h2>
    <h3 class="title">Pas facile le Javascript</h3>
    <div>
        <p id="first-paragraphe">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga placeat veritatis praesentium recusandae fugiat <br>
            provident reprehenderit nemo blanditiis sunt est libero tempore repellat sapiente porro, incidunt ratione labore natus?
        </p>
        
        <p class="txt-uppercase">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga placeat veritatis praesentium recusandae fugiat <br>
            provident reprehenderit nemo blanditiis sunt est libero tempore repellat sapiente porro, incidunt ratione labore natus?
        </p>

        <p class="txt-uppercase">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga placeat veritatis praesentium recusandae fugiat <br>
            provident reprehenderit nemo blanditiis sunt est libero tempore repellat sapiente porro, incidunt ratione labore natus?
        </p>
    </div>
  </body>
</html>
