<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>
    <script src="../assets/js/liste.js" defer></script>
</head>
<body>
    <div>
        <h1>Les films Avangers</h1>
        <ul id="liste-movies">

            <li>Avengers (2012)</li>
            <li>Avengers - L'ère d'Ultron (2015)</li>
            <li>Avangers - Inifinity War (2018)</li>
            <li>Avengers - Endgame (2019)</li>
            <li>Avengers a la plage</li>
            <li>Avengers fait du poney</li>
            <li>Avangers est en gardav</li>
            
        </ul>
    </div>
</body>
</html>