<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../assets/js/17-todo-list.js" defer></script>
    <link rel="stylesheet" href="../assets/css/todo-list.css" />
    <title>To do List</title>
  </head>
  <body>
    <div>
      <h2>Todo List</h2>
      <div>
        <input type="text" id="user-input" />

        <button class="btn-ajouter">Ajouter</button>
        <ul id="list-li"></ul>
      </div>
    </div>
  </body>
</html>
